/* Profile Container */
.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  color: var(--text-color);
  background-color: var(--background-color);
  transition: background-color 0.3s, color 0.3s;
}

/* Profile Paper */
.profile-paper {
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 600px;
  background-color: var(--background-color);
  color: var(--text-color);
  border: 1px solid var(--border-color);
  border-radius: 10px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
}

.profile-paper:hover {
  box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.15);
}

/* Profile Avatar */
.profile-avatar {
  width: 300px;
  height: 300px;
  margin-bottom: 20px;
  border-radius: 30%;
  border: 3px solid var(--primary-color);
  transition: transform 0.3s;
}

.profile-avatar:hover {
  transform: scale(1.1);
}

/* Profile Details */
.profile-details {
  margin-top: 20px;
  width: 100%;
  text-align: left;
}

.profile-details p {
  margin: 10px 0;
  font-size: 1.1rem;
  color: var(--text-color);
}

/* Buttons */
.logout-button,
.change-password-button {
  margin-top: 20px;
  width: 100%;
  max-width: 300px;
  border-radius: 25px;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: bold;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.logout-button {
  background-color: var(--error-color);
  color: white;
}

.logout-button:hover {
  background-color: darken(var(--error-color), 10%);
  box-shadow: 0px 5px 15px rgba(211, 47, 47, 0.4);
}

.change-password-button {
  background-color: var(--primary-color);
  color: white;
}

.change-password-button:hover {
  background-color: darken(var(--primary-color), 10%);
  box-shadow: 0px 5px 15px rgba(25, 118, 210, 0.4);
}

/* Dialog */
.MuiDialog-paper {
  background-color: var(--background-color);
  color: var(--text-color);
  border-radius: 10px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
}

.MuiDialogTitle-root {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--primary-color);
}

.MuiDialogContent-root {
  padding: 20px;
}

.MuiDialogContentText-root {
  margin-bottom: 15px;
}

.MuiTextField-root {
  margin-bottom: 20px;
}

.MuiDialogActions-root {
  padding: 10px 20px;
}

.MuiButton-containedPrimary {
  background-color: var(--primary-color);
  color: white;
}

.MuiButton-containedPrimary:hover {
  background-color: darken(var(--primary-color), 10%);
}

/* Responsive Design */
@media (max-width: 768px) {
  .profile-avatar {
    width: 100px;
    height: 100px;
  }

  .profile-details p {
    font-size: 1rem;
  }

  .logout-button,
  .change-password-button {
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  .profile-avatar {
    width: 75px;
    height: 75px;
  }

  .profile-details p {
    font-size: 0.9rem;
  }

  .logout-button,
  .change-password-button {
    font-size: 0.8rem;
  }
}
